@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-decoration {
  display: none;
}

.tab.active:after {
  content: "";
  background-color: #6366f1;
  position: absolute;
  left: 0;
  width: 100%;
  right: 1rem;
  bottom: -8px;
  z-index: 2;
  height: .125rem;
  --tw-content: "";
}

.cm-editor {
  background-color: #181818 !important; /* 원하는 배경색으로 변경 */
}

.cm-activeLine {
  background-color: #181818 !important; /* 활성 줄 배경색 */
}

.cm-gutters {
  background-color: #181818 !important; /* 에디터 배경색과 동일하게 맞추는 것이 좋음 */
  border-right: 1px solid #181818; /* 구분선 색상 */
  color: #abb2bf; /* 줄 번호 색상 */
}

.ͼo .cm-activeLineGutter {
  background-color: #181818;
}

.ͼo .cm-gutters {
  border-left: 1px solid #27272a;
  border-right: 1px solid #27272a;
}

.ͼq {
  color: #6fa3f8
}

.ͼ13 {
  color: #ffffff
}

.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #e6edf3;
  border-radius: 8px;
}

.markdown-body h3 {
  border-bottom: 1px solid #30363d;
  padding-bottom: 0.3em;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}

.markdown-body strong {
  font-weight: 600;
}

.markdown-body ul {
  padding-left: 2em;
}

.markdown-body li {
  margin-bottom: 0.5em;
}

.markdown-body pre {
  padding: 16px;
  border-radius: 6px;
  overflow-x: auto;
}

.markdown-body code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 85%;
}

.markdown-body pre code {
  background-color: transparent;
  padding: 0;
}

#__next, .pretendard_f7aab82a-module__wiIwCq__className {
  width: 100%;
  height: 100%;
}

/* 커스텀 스크롤바 */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #27272a;
}

::-webkit-scrollbar-thumb {
  background-color: #52525b;
  border-radius: 20px;
  border: 2px solid #27272a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #71717a;
}