version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: hjk
      POSTGRES_PASSWORD: star8903
      POSTGRES_DB: postgres
      TZ: Asia/Seoul
      PGTZ: Asia/Seoul
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    environment:
      TZ: Asia/Seoul

  backend:
    build: ../backend
    container_name: backend
    restart: always
    environment:
      - DATABASE_URL=postgresql://hjk:star8903@db:5432/postgres
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_URL=redis://redis:6379/0
      - TZ=Asia/Seoul
    ports:
      - "8001:8000"
    volumes:
      - ../backend:/app
      - /app/.venv
    depends_on:
      - db

  frontend:
    build: ../frontend
    container_name: frontend
    restart: always
    ports:
      - "3001:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8001
    volumes:
      - ../frontend:/app
      - /app/node_modules
      - /app/.next
    depends_on:
      - backend

volumes:
  db_data:
  redis_data:
